# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs & lockfiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lock
bun.lockb


# environment variables
.env
.env.*
!.env.example
.dev.vars

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
